<h1>@ViewBag.InFo</h1>

<form asp-action="Dat">
    <label>Mày tên gì</label>
    <input type="text" name="FullName"
    <label>Nhà mày ở đâu</label>
    <input type="text" name="Address"
    <input type="submit" value="Gửi dữ liệu">
</form>