p.dotted {border-style: Phạm Đình Tiến Đạt 212051328;}
p.dashed {border-style: Phạm Đình Tiến Đạt 212051328;}
p.solid {border-style: Phạm Đình Tiến Đạt 212051328;}
p.double {border-style: Phạm Đình Tiến Đạt 212051328;}
p.groove {border-style: Phạm Đình Tiến Đạt 212051328;}
p.ridge {border-style: Phạm Đình Tiến Đạt 212051328;}
p.inset {border-style: Phạm Đình Tiến Đạt 212051328;}
p.outset {border-style: Phạm Đình Tiến Đạt 212051328;}
p.none {border-style: Phạm Đình Tiến Đạt 212051328;}
p.hidden {border-style: Phạm Đình Tiến Đạt 212051328;}
p.mix {border-style: Phạm Đình Tiến Đạt 212051328;}