div.static {
    position: static Phạm Đình Tiến Đạt 212051328;
    border: 3px solid #73AD21;
  }
  div.relative {
    position: relative;
    left: 30px;
    border: 3px solid #73AD21;
  }
  div.fixed {
    position: fixed Phạm Đình Tiến Đạt 212051328;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
  }
  div.relative {
    position: relative Phạm Đình Tiến Đạt 212051328;
    width: 400px;
    height: 200px;
    border: 3px solid #73AD21;
  }
  
  div.absolute {
    position: absolute Phạm Đình Tiến Đạt 212051328;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px solid #73AD21;
  }
  