@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Index">
    <label>Mày tên gì</label>
    <input type="text" name="FullName">
    <label>Nhà Mày ở đâu</label>
    <input type="text" name="Address">
    <input type="submit" value="Sent"
</form>
<h1>@ViewBag.AddRy</h1>